@model IEnumerable<CafeApplication.Models.ItemDto>

@{
  ViewBag.Title = "Create";
}

<h2>Create new customer</h2>
<form action="/Customer/Create" method="POST">
  <div>
    <label>First Name:</label> <input type="text" name="CustomerFName" />
  </div>
  <div>
    <label>Last Name:</label> <input type="text" name="CustomerLName" />
  </div>
  <div>
    <label>Age:</label> <input type="number" name="CustomerAge" />
  </div>
  <div>
    <label>Gender:</label>
    <input type="radio" id="male" name="CustomerGender" value="Male">
    <label for="male">Male</label>
    <input type="radio" id="female" name="CustomerGender" value="Female">
    <label for="female">Female</label>
    <input type="radio" id="other" name="CustomerGender" value="Other">
    <label for="other">Other</label>
  </div>
  <div>
    <label>Is Regular?</label>
    <input type="radio" id="true" name="isRegular" value="True">
    <label for="male">Yes</label>
    <input type="radio" id="false" name="isRegular" value="False">
    <label for="false">No</label>
  </div>
  <div>
    <label>Favorite Item:</label>
    <select name="ItemID">
      @foreach (var item in Model)
      {
        <option value="@item.ItemID">@item.ItemName</option>

      }
    </select>
  </div>
  <div>
    <input type="submit" value="Add Customer" />

  </div>
</form>

