@model IEnumerable<CafeApplication.Models.CustomerDto>

@{
  ViewBag.Title = "List";
}

<h2>List</h2>
@foreach (var customer in Model)
{
  <h3><a href="/Customer/Details/@customer.CustomerID">@customer.CustomerFName @customer.CustomerLName</a></h3>

}

